$header-gradient: linear-gradient(
	to bottom,
	#ff8f70,
	#ff7e66,
	#ff6c5e,
	#ff5758,
	#ff3d54
);
$btn-gradient: linear-gradient(
	to right,
	#ff8f70,
	#ff7e66,
	#ff6c5e,
	#ff5758,
	#ff3d54
);
$white-color: hsl(0, 0%, 100%);
$ligthRed: hsl(356, 100%, 66%);
$second-color: hsl(208, 49%, 24%);
